# Untracked files in MPLABX projects
/**/build/*
/**/nbproject/*
!/**/nbproject/*.xml
/**/dist/*
/**/.generated_files/*
LED_Display_Adapter/.svn/entries
LED_Display_Adapter/.svn/format
LED_Display_Adapter/.svn/wc.db
LED_Display_Adapter/.svn/wc.db-journal
LED_Display_Adapter/.svn/pristine/03/033c9a12db3ffaf3f42b67ce2b6a1965e440bf67.svn-base
LED_Display_Adapter/.svn/pristine/26/26c86bf5317b74364e156896bd8b3942d2b7bf73.svn-base
LED_Display_Adapter/.svn/pristine/4a/4a2b7a19a6ec186ebb8239123962400212986f5d.svn-base
LED_Display_Adapter/.svn/pristine/59/59dfd1e8840867c02085d9f11e4ce8430fba3e14.svn-base
LED_Display_Adapter/.svn/pristine/5c/5c80332dc6a25c530c474cbd2ef09045849f7b11.svn-base
LED_Display_Adapter/.svn/pristine/6a/6ac2b9dc480a31efa31db1c31a1ceb5d64fab41f.svn-base
LED_Display_Adapter/.svn/pristine/7b/7ba7f0f9cd97b3fcdf7be00091e81f12dfc0e889.svn-base
LED_Display_Adapter/.svn/pristine/8c/8ccd86827aabfa12e228399be0285704485bb827.svn-base
LED_Display_Adapter/.svn/pristine/97/977176eda3ac6e80a782042f582d8c2843461194.svn-base
LED_Display_Adapter/.svn/pristine/a0/a09a02a746551f75105a3458cdbb434e3d044862.svn-base
LED_Display_Adapter/.svn/pristine/f7/f7ac6cfa598c3ab0a4150123ea97d56fd485bc37.svn-base
LED_Display_Adapter/.svn/pristine/fa/fa19ebba06cf252a4207af14730cd98c97364b53.svn-base
